.Contacto {
    display: grid;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #2778bf;
    padding: 50px;
    font-size: 15px;
    grid-template-areas: 
        "h1"
        "DatosDelContacto"

}
.Contacto h1 {
    grid-area: h1;
    text-align: center;
}

.DatosDelContacto {
    grid-area: DatosDelContacto;
    background-color: #f3f3f3;
    border: 1px solid #dfdfdf;
    border-radius: 25px 50px;
    padding: 30px;
    height: 70%;
    display: flex;
    flex-flow: column wrap;
}

.DatosDelContacto input{
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #929292;
}

.btns {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    width: 100%;
    margin-top: 20px;
}

.btnLimpiar {
    padding: 5px 15px;
    margin-right: 5px;
    background-color: #929292;
    border: 1px solid #7e7e7e;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.btnEnviar {
    padding: 5px 20px;
    margin-left: 5px;
    background-color: #38cf33;
    border: 1px solid #34ba30;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}