.flexPizarra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizzarra {
  display: grid;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 1px solid #2778bf;
  padding: 20px;
  width: 100%;
  font-size: 15px;
  grid-template-areas:
    "h1"
    "selector"
    "datosActualizados"
    "cotizaciones"
    "recordatorio"
    "biblio";
}

.pizzarra h1 {
  grid-area: h1;
  text-align: center;
  padding-bottom: 5px;
}

.contenedorSelectBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.selector {
  grid-area: selector;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  background-color: #f3f3f3;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 10px;
}

.selector label {
  font-size: 15px;
}

.selector select {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin-right: 20px;
  width: 100%;
}

.filtrar {
  font-size: 30px;
  border: none;
  background-color: transparent;
}

.fa-filter {
  cursor: pointer;
  color: #ffb555;
}

.datosActualizados {
  grid-area: datosActualizados;
  text-align: right;
  padding: 5px 60px 5px 0;
}

.cotizaciones {
  grid-area: cotizaciones;
  background-color: #f3f3f3;
  border: 1px solid #dfdfdf;
  border-radius: 25px 50px;
  padding: 20px;
  height: 60%;
  display: flex;
  flex-flow: column wrap;
}

.cotizacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  min-width: 300px;
}

.moneda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 15px -3px #00000030;
}

.botonFavorito {
  font-size: 30px;
  border: none;
  background-color: transparent;
}

.fa-star {
  color: #c7e0ff;
  cursor: pointer;
}

.pintada {
  color: #2778bf;
}

.botonFavorito:hover {
  background-color: transparent;
}

.botonFavorito:active {
  background-color: transparent;
}

.compraventa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.compra,
.venta {
  text-align: center;
}

.recordatorio {
  grid-area: recordatorio;
  padding: 5px 0 10px 0;
}

.recordatorio strong {
  font-size: 25px;
}

.bibliografia {
  grid-area: biblio;
  display: flex;
  width: 100%;
  justify-content: end;
}

.bibliografia p {
  padding: 6px 3px;
  background-color: #dfdfdf;
}

.bibliografia a {
  padding: 3px;
  border-radius: 5px;
  background-color: #4444d1;
  text-decoration: none;
  color: #ffffff;
}

/*----------------- ALERTAS ------------------*/

.contenedorSuccess {
  display: none; /* debo cambiar a "display: flex" para que se muestre la alerta */
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.cajaSuccess {
  background-color: #28a745d8;
  padding: 20px 40px;
  border-radius: 30px;
  color: #fff;
}

.contenedorWarning {
  display: none; /* debo cambiar a "display: flex" para que se muestre la alerta */
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.cajaWarning {
  background-color: #ffc107d8;
  padding: 20px 40px;
  border-radius: 30px;
}

.contenedorError {
  display: none; /* debo cambiar a "display: flex" para que se muestre la alerta */
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.cajaError {
  background-color: #dc3545d8;
  padding: 20px 40px;
  border-radius: 30px;
  color: #fff;
}

/*----------------- MEDIA ------------------*/

@media screen and (max-width: 1730px) {
  .cotizaciones {
    align-items: center;
    flex-flow: column nowrap;
    height: auto;
  }

  .cotizacion {
    width: 90%;
  }
}

@media screen and (max-width: 1420px) {
  .selector {
    width: auto;
  }

  .datosActualizados {
    font-size: 12px;
  }

  .recordatorio {
    font-size: 12px;
  }

  .recordatorio strong {
    font-size: 18px;
  }

  .bibliografia p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1245px) {
  .cajaSuccess {
    font-size: 12px;
  }

  .cajaWarning {
    font-size: 12px;
  }

  .cajaError {
    font-size: 12px;
  }
}

@media screen and (max-width: 645px) {
  .pizzarra h1 {
    font-size: 20px;
  }

  .selector {
    flex-flow: column wrap;
    width: auto;
  }

  .selector select {
    width: auto;
    margin-top: 10px;
  }

  .cotizacion {
    min-width: 200px;
  }

  .compra,
  .venta,
  .moneda {
    font-size: 12px;
  }

  .botonFavorito {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .pizzarra h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .contenedorSelectBtn {
    width: 50%;
  }

  .selector {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
  }

  .selector select {
    margin: 0 15px 0 0;
    width: 100%;
  }

  .selector label {
    text-align: center;
    width: 50%;
  }

  .cotizacion {
    min-width: 300px;
  }

  .compra,
  .venta,
  .moneda {
    font-size: 15px;
  }

  .botonFavorito {
    font-size: 30px;
  }
}

@media screen and (max-width: 540px) {
  .datosActualizados {
    font-size: 10px;
  }

  .recordatorio {
    font-size: 10px;
  }

  .recordatorio strong {
    font-size: 18px;
  }

  .bibliografia p {
    font-size: 10px;
  }

  .bibliografia a {
    font-size: 10px;
  }
}

@media screen and (max-width: 475px) {
  .selector label {
    font-size: 12px;
  }
}

@media screen and (max-width: 420px) {
  .pizzarra h1 {
    font-size: 20px;
  }

  .cotizacion {
    min-width: 200px;
  }

  .compra {
    margin-right: 5px;
  }

  .venta {
    margin: 0 5px;
  }

  .compra,
  .venta,
  .moneda {
    font-size: 12px;
  }

  .botonFavorito {
    font-size: 25px;
  }
}

@media screen and (max-width: 410px) {
  .pizzarra h1 {
    font-size: 20px;
  }

  .cotizacion {
    min-width: 200px;
  }

  .compra,
  .venta,
  .moneda {
    font-size: 10px;
  }

  .botonFavorito {
    font-size: 20px;
  }
}